.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3% 0 0 3%;
    background-color: blueviolet;
    height: 40px;
    width: 28vw;
}

.logo{
    position: absolute;
    width: 24vw;
}