@import "reset";
@import "components/index";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PlutoSans", "Helvetica";
  font-weight: 200;

  color: black;

  overflow: auto;

  #root {
    z-index: 0;
    position: relative;
  }
}

.login-container .input-container {
    margin-top: 28px;
}

.InputLogin {
    border-radius: 8px;
    border: 1px solid #4fbfb5;
    padding: 12px;
    font-size: 18px;
    width: 350px;
    box-shadow: 0 0 8px 4px #e7f7f9;
}

.CheckboxLogin {

}
